<div class="bg-image overflow-hidden" style="background-image: url('assets/img/photos/urdu_text.jpg');">
  <div class="bg-black-op">
      <div class="content content-narrow">
          <div class="block block-transparent">
              <div class="block-content block-content-full">
                  <h1 class="h1 font-w300 text-white animated fadeInDown push-50-t push-5">{{'DICTIONARIES.TITLE' | translate}}</h1>
                  <h2 class="h4 font-w300 text-white-op animated fadeInUp">{{'DICTIONARIES.SLOGAN' | translate}}</h2>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="bg-gray-light border-b">
  <div class="content content-narrow">
      <ul class="js-media-filter nav nav-pills push">
          <li class="active">
              <a href="javascript:void(0)">
                       {{'DICTIONARIES.ALL' | translate }}
                  </a>
          </li>
          <li>
              <a href="javascript:void(0)">
                      <i class="si si-globe push-5-r"></i> {{'DICTIONARIES.PUBLIC' | translate }}
                  </a>
          </li>
          <li>
              <a href="javascript:void(0)" data-category="photos">
                      <i class="si si-key push-5-r"></i> {{'DICTIONARIES.PRIVATE' | translate }}
                  </a>
          </li>
          <li>
                  <a href="javascript:void(0)" data-category="photos">
                          <i class="si si-star push-5-r"></i> {{'DICTIONARIES.FAVORITE' | translate }}
                      </a>
          </li>
          <li class="pull-left" *ngIf="createLink">
              <a class="btn btn-default" href="javascript:void(0)" (click)="createDictionary()">
                      <i class="fa fa-fw fa-plus push-5-r"></i> {{'DICTIONARIES.CREATENEW' | translate}} 
                  </a>
          </li>
      </ul>
  </div>
</div>

<section class="content content-boxed overflow-hidden">
  <!-- Section Content -->
<div class="content-grid">
  <div class="row">
      <div class="col-sm-12" *ngIf="isLoading">
          <div class="block block-opt-refresh">
              <div class="block-header">
              </div>
              <div class="block-content">

              </div>
          </div>
      </div>
      <div class="content bg-white text-center " *ngIf="!isLoading && !errorLoadingDictionaries && dictionaries && dictionaries.length < 1">
          <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                  <div class="font-s64 text-gray push-30-t push-50">
                      <i class="si si-ghost"></i>
                  </div>
                  <h1 class="h2 font-w400 push-15 animated fadeInLeftBig">{{'DICTIONARIES.NODICTIONARY' | translate}}</h1>

                  <h2 class="h3 font-w300 text-dark-op push-50 animated fadeInRightBig" *ngIf="!createLink">
                      <a href="javascript:void(0)" (click)="auth.login()">
                              {{'DICTIONARIES.SIGNINANDCREATRENEW' | translate}}
                              </a>
                  </h2>
              </div>
          </div>
      </div>
      <div class="content bg-white text-center" *ngIf="!isLoading && errorLoadingDictionaries">
          <div class="row">
              <div class="col-sm-6 col-sm-offset-3" *ngIf="errorLoadingDictionaries">
                  <div class="font-s64 text-gray push-30-t push-50">
                      <i class="si si-close"></i>
                  </div>
                  <h1 class="h2 font-w400 push-15 animated fadeInUp">{{ 'DICTIONARIES.MESSAGES.LOADING_FAILURE' | translate }}</h1>
                  <h2 class="h3 font-w300 text-dark-op push-50 animated fadeInRightBig">
                      <a (click)="getEntry()" class="hand">
                              {{'ACTIONS.REFRESH' | translate}}
                              </a>
                  </h2>
              </div>
          </div>
      </div>

      <div class="content text-center overflow-hidden">
          <div class="row">
              <div class="col-xs-6 col-sm-3" appear data-class="animated fadeInDown" *ngFor="let dictionary of dictionaries">
                  <div class="block block-rounded animated fadeIn" data-category="books">
                      <div class="block-header">
                          <ul class="block-options">
                              <li>
                                  <button type="button" [routerLink]="['/dictionary', dictionary.id]" 
                                          data-toggle="tooltip" data-placement="top" [attr.title]="translate.instant('DICTIONARIES.VIEW_DICTIONARY')"> 
                                      <i class="si si-eye"></i>
                                  </button>
                              </li>
                              <li *ngIf="dictionary.createDownloadLink" (click)="createDictionaryDownload(dictionary)"
                                  data-toggle="tooltip" data-placement="top" [attr.title]="translate.instant('DICTIONARIES.CREATE_DOWNLOAD')">
                                  <button type="button">
                                              <i class="si si-cloud-download"></i>
                                      </button>
                              </li>
                              <li *ngIf="dictionary.updateLink"
                                  data-toggle="tooltip" data-placement="top" [attr.title]="translate.instant('DICTIONARIES.EDIT_DICTIONARY')">
                                  <button type="button" (click)="editDictionary(dictionary)"
                                  ><i class="si si-pencil"></i></button>
                              </li>
                              <li *ngIf="dictionary.deleteLink"
                                  data-toggle="tooltip" data-placement="top" [attr.title]="translate.instant('DICTIONARIES.DELETE_DICTIONARY')">
                                  <button type="button" [swal]="{title : translate.instant('DICTIONARIES.DELETE_DICTIONARY_TITLE'), 
                                                                     text : translate.instant('DICTIONARIES.DELETE_DICTIONARY_DESCRIPTION', {name : dictionary.name }), 
                                                                     type : 'warning',
                                                                     confirmButtonText : translate.instant('ACTIONS.YES'),
                                                                     cancelButtonText : translate.instant('ACTIONS.NO'),
                                                                     confirmButtonColor: '#d26a5c',
                                                                     html: false,
                                                                     allowOutsideClick : false,
                                                                     showCancelButton: true}" 
                                                                     (confirm)="deleteDictionary(dictionary)">
                                                                  <i class="si si-close"></i>
                                  </button>
                              </li>
                          </ul>
                      </div>
                      <div class="block-content block-content-full text-center">
                          <a [routerLink]="['/dictionary', dictionary.id]">
                              <div class="item item-2x item-circle" [class.bg-info-light]="!dictionary.isPublic" [class.text-info]="!dictionary.isPublic"
                                  [class.bg-success-light]="dictionary.isPublic" [class.text-success]="dictionary.isPublic">
                                  <i class="si si-book-open"></i>
                              </div>
                          </a>
                      </div>
                      <div class="block-content block-content-full text-center mheight-100">
                          <h3 class="h4 font-w300 text-black push-5 hand" [routerLink]="['/dictionary', dictionary.id]">{{dictionary.name}}</h3>
                          <span class="text-gray">{{ Languages[dictionary.language] }} | {{dictionary.wordCount}} words</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</section>
<!-- <edit-dictionaries [modalId]="'create-dictionary'" [createLink]="createLink" [visible]="showCreateDialog" [dictionary]="selectedDictionary"
  (onClosed)="onCreateClosed($event)"></edit-dictionaries> -->