<ul class="nav-header pull-right">
    <li>
        <div class="btn-group">
            <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.isAuthenticated()">{{ 'HEADER.LOGIN' | translate}}</button>
            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button" *ngIf="auth.isAuthenticated()">
                        <!--<img [src]="auth.userProfile.picture" alt="Avatar" />-->
                            <img [src]="profile?.picture || 'images/avatars/avatar10.jpg'" alt="Avatar">
                                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" *ngIf="auth.isAuthenticated()">
                <li class="dropdown-header">{{ 'HEADER.PROFILE' | translate}}</li>
                <li>
                    <a tabindex="-1" [routerLink]="['/profile']">
                        <i class="si si-user pull-right"></i>{{ 'HEADER.PROFILE' | translate}}
                    </a>
                </li>
                <li>
                    <a tabindex="-1" [routerLink]="['/settings']">
                        <i class="si si-settings pull-right"></i>{{ 'HEADER.SETTINGS' | translate}}
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a tabindex="-1"  (click)="auth.logout()">
                        <i class="si si-logout pull-right"></i>{{ 'HEADER.LOGOUT' | translate}}
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <button class="btn btn-default pull-right" data-toggle="modal" data-target="#apps-modal" type="button">
            <i class="si si-grid"></i>
        </button>
    </li>
    <li class="hidden-md hidden-lg">
        <button class="btn btn-default" sidebar-toggle data-action="sidebar_toggle" type="button">
                            <i class="fa fa-navicon"></i>
                        </button>
    </li>
    <li class="hidden-xs hidden-sm">
        <button class="btn btn-default" sidebar-toggle data-action="sidebar_mini_toggle" type="button">
            <i class="fa fa-ellipsis-v"></i>
        </button>
    </li>
</ul>

<ul class="nav-header pull-left">
    <li class="js-header-search header-search">
        <form class="form-horizontal" action="base_pages_search.html" method="post">
            <div class="form-material form-material-primary input-group remove-margin-t remove-margin-b">
                <input class="form-control" type="text" id="base-material-text" name="base-material-text" placeholder="{{ 'HEADER.SEARCH' | translate}}">
                <span class="input-group-addon"><i class="si si-magnifier"></i></span>
            </div>
        </form>
    </li>
    <li class="visible-xs">
        <button class="btn btn-default" ui-toggle data-toggle="class-toggle" data-target=".js-header-search" data-class="header-search-xs-visible"
            type="button">
            <i class="fa fa-search"></i>
        </button>
    </li>
</ul>