<div class="content-boxed">
    <!-- Header Navigation Right -->
    <ul class="nav-header pull-right">
        <li class="hidden-md hidden-lg">
            <!-- Toggle class helper (for main header navigation below in small screens), functionality initialized in App() -> uiToggleClass() -->
            <button class="btn btn-link text-white pull-right" ui-toggle data-target=".js-nav-main-header" data-class="nav-main-header-o"
                type="button">
                <i class="fa fa-navicon"></i>
            </button>
        </li>
    </ul>
    <!-- END Header Navigation Right -->

    <!-- Main Header Navigation -->
    <ul class="js-nav-main-header nav-main-header pull-right">
        <li class="text-right hidden-md hidden-lg">
            <!-- Toggle class helper (for main header navigation in small screens), functionality initialized in App() -> uiToggleClass() -->
            <button class="btn btn-link text-white" ui-toggle data-target=".js-nav-main-header" data-class="nav-main-header-o"
                type="button">
                                <i class="fa fa-times"></i>
                            </button>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li>
            <a [routerLink]="['/dictionaries']">Dictionaries</a>
        </li>
        <li>
            <a [routerLink]="['/thesaurus']">Thesaurus</a>
        </li>
        <li>
            <a [routerLink]="['/translations']">Translations</a>
        </li>
        <li>
            <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button"
                            *ngIf="auth.authenticated()">
                        <img [src]="auth.userProfile.picture" alt="Avatar">
                                <span class="caret"></span>
                </button>
            <ul class="dropdown-menu dropdown-menu-right" *ngIf="auth.authenticated()">
                <li class="dropdown-header">Profile</li>
                <li>
                    <a tabindex="-1">
                        <i class="si si-user pull-right"></i>
                        <span class="badge badge-success pull-right">1</span>Profile
                    </a>
                </li>
                <li>
                    <a tabindex="-1" href="javascript:void(0)">
                        <i class="si si-settings pull-right"></i>Settings
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a tabindex="-1" href="#" (click)="auth.logout()" >
                        <i class="si si-logout pull-right"></i>Log out
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- END Main Header Navigation -->

    <!-- Header Navigation Left -->
    <ul class="nav-header pull-left">
        <li class="header-content">
            <a class="h5" href="#">
                <span class="h4 font-w600 text-white">inshapardaz</span>
            </a>
        </li>
    </ul>
    <!-- END Header Navigation Left -->
</div>