<div class="content bg-gray-lighter">
  <div class="row items-push">
      <div class="col-sm-12">
          <h1 class="page-heading" *ngIf="dictionary">
              <!-- <i class="si si-book-open"></i> -->
              {{dictionary.name}} <small>{{'DICTIONARY.TITLE' | translate: {lang: Languages[dictionary.language], count : dictionary.wordCount } }}</small>
          </h1>
      </div>
      <!-- <div class="col-sm-5 text-right hidden-xs">
          <ol class="breadcrumb push-10-t" *ngIf="!isLoading">
              <li><a class="link-effect" href="javascript:void(0)" [routerLink]="['/dictionaries']"> {{'DICTIONARIES.TITLE' | translate}}</a></li>
              <li>{{dictionary.name}}</li>
          </ol>
      </div> -->
  </div>
</div>

<section class="content">
  <div class="row">
      <div class="col-sm-12">
          <div class="btn-group">
              <form #searchForm (ngSubmit)="gotoSearch()">
                  <div class="input-group">
                      <input class="form-control text-right" type="text" placeholder="{{'DICTIONARY.SEARCH_IN_DICTIONARY' | translate}}" name="query" id="query">
                      <div class="input-group-btn">
                          <button class="btn btn-default" type="submit"><i class="fa fa-search"></i> {{ 'ACTIONS.SEARCH' | translate }}</button>
                          <a class="btn btn-default" *ngIf="isInSearch" (click)="clearSearch()"><i class="fa fa-close" ></i></a>
                          <a class="btn btn-default" href="javascript:void(0)" (click)="addWord()" *ngIf="dictionary && dictionary.createWordLink">
                              <i class="fa fa-fw fa-plus push-5-r"></i> {{ 'DICTIONARY.ADD_WORD' | translate}} 
                          </a>
                          <button class="btn btn-default" type="button">{{ 'DICTIONARY.INDEX' | translate}} </button>
                          <div class="btn-group">
                              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                          <span class="caret"></span>
                                      </button>
                              <ul class="dropdown-menu dropdown-menu-right" *ngIf="!isLoading">
                                  <li class="col-lg-3 col-md-3 col-sm-6" *ngFor="let idx of dictionary.indexes">
                                      <a tabindex="-1" href="javascript:void(0)" (click)="gotoIndex(idx)">{{idx.title}}</a>
                                  </li>
                              </ul>

                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>

<div class="content">
  <div class="row">
      <div class="block" [class.block-opt-refresh]="isLoading">
          <div class="block-header bg-gray-lighter">
              <ul class="block-options">
                  <li>
                      <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                  </li>
                  <li>
                      <button type="button" [disabled]="isLoading" (click)="reloadPage()" title="{{'ACTIONS.REFRESH' | translate}}" data-toggle="block-option" data-action="refresh_toggle"
                          data-action-mode="demo"><i class="si si-refresh"></i> 
                          {{'ACTIONS.REFRESH' | translate}}
                      </button>
                  </li>
              </ul>
              <div class="block-title text-normal" *ngIf="wordPage && wordPage.pageCount > 1">
                  <span class="font-w400" [innerHTML]="'DICTIONARY.PAGE' | translate:{current : wordPage.currentPageIndex, total :wordPage.pageCount }"></span>
              </div>
          </div>
          <div class="block-content">
              <nav>
                  <ul class="pager">
                      <li class="previous"  *ngIf="wordPage && wordPage.words.length > 0 && wordPage.prevLink">
                          <a href="javascript:void(0)" (click)="!isLoading && goPrevious()" data-toggle="tooltip" title="{{'ACTIONS.PREVIOUS_PAGE' | translate}}"><i class="fa fa-arrow-left"></i></a>
                      </li>
                      <li class="next" *ngIf="wordPage && wordPage.words.length > 0 && wordPage.nextLink">
                          <a href="javascript:void(0)" (click)="!isLoading && goNext()" data-toggle="tooltip" title="{{'ACTIONS.NEXT_PAGE' | translate}}"><i class="fa fa-arrow-right"></i></a>
                      </li>
                  </ul>
              </nav>
              <table class="table table-hover table-striped table-vcenter" *ngIf="wordPage && wordPage.words.length > 0">
                  <tbody>
                      <tr *ngFor="let word of wordPage.words">
                          <td>
                              <h3 class="h3 font-w600 push-10">
                                  <a class="link-effect" [routerLink]="['/word', dictionary.id, word.id]" href="javascript:void(0)">{{word.title}}</a>
                              </h3>
                              <div class="font-s13 text-muted hidden-xs">
                                  <p>{{word.description}}</p>
                              </div>

                          </td>
                          <td class="text-center" style="width: 100px;" *ngIf="word.updateLink">
                              <div class="btn-group">
                                  <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="{{'ACTIONS.EDIT' | translate}}" (click)="editWord(word)">
                                          <i class="fa fa-pencil text-normal"></i>
                                  </button>
                                  <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                          title="{{'WORD.ACTIONS.DELETE' | translate}}" 
                                          [swal]="{title : translate.instant('WORD.ACTIONS.DELETE'), 
                                                  text : translate.instant('WORD.ACTIONS.DELETE_MESSAGE', { word : word.title }), 
                                                  type : 'warning',
                                                  confirmButtonText : translate.instant('ACTIONS.YES'),
                                                  cancelButtonText : translate.instant('ACTIONS.NO'),
                                                  confirmButtonColor: '#d26a5c',
                                                  html: false,
                                                  allowOutsideClick : false,
                                                  showCancelButton: true}" (confirm)="deleteWord(word)">
                                      <i class="fa fa-times text-danger"></i>
                                  </button>
                              </div>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <nav>
                  <ul class="pager">
                      <li class="previous"  *ngIf="wordPage && wordPage.words.length > 0 && wordPage.prevLink">
                          <a href="javascript:void(0)" (click)="!isLoading && goPrevious()" data-toggle="tooltip" title="{{'ACTIONS.PREVIOUS_PAGE' | translate}}"><i class="fa fa-arrow-left"></i></a>
                      </li>
                      <li class="next" *ngIf="wordPage && wordPage.words.length > 0 && wordPage.nextLink">
                          <a href="javascript:void(0)" (click)="!isLoading && goNext()" data-toggle="tooltip" title="{{'ACTIONS.NEXT_PAGE' | translate}}"><i class="fa fa-arrow-right"></i></a>
                      </li>
                  </ul>
              </nav>
              <div class="content bg-white text-center overflow-hidden" *ngIf="wordPage && wordPage.words.length < 1">
                  <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                          <h1 class="font-s128 font-w300 text-amethyst animated fadeInDown">
                              <i class="si si-ghost"></i>
                          </h1>
                          <h2 class="h3 font-w300 push-50 animated fadeInUp">{{'DICTIONARY.NOWORDFOUND' | translate}}</h2>
                          <form class="form-horizontal push-50 animated fadeInUp" *ngIf="dictionary && dictionary.createWordLink">
                              <div class="form-group">
                                  <div class="col-sm-6 col-sm-offset-3">
                                      <button class="btn btn-default" (click)="addWord()">
                                                  <i class="fa fa-fw fa-plus push-5-r"></i> {{ 'DICTIONARY.ADD_WORD' | translate}} 
                                      </button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- <edit-word [modalId]="'create-word'" [createLink]="createWordLink" [visible]="showCreateDialog" [word]="selectedWord" (onClosed)="onCreateClosed($event)"></edit-word> -->