<!--<ul class="nav-users push rtl">
    <li *ngFor="let meaning of meanings">
        <a text-center *ngIf="meaning.deleteLink || meaning.updateLink">       
            {{meaning.value}}
            <div class="font-w400 text-muted">
                <small>{{meaning.context}}</small>
            </div>        
            <div class="btn-group pull-left">
                <button *ngIf="meaning.deleteLink"class="btn btn-xs btn-default" type="button" (click)="deleteMeaning(meaning)" data-toggle="tooltip" title="Remove Meaning"><i class="fa fa-times"></i></button>
                <button *ngIf="meaning.updateLink" class="btn btn-xs btn-default" type="button" (click)="editMeaning(meaning)"  data-toggle="tooltip" title="Edit Meaning"><i class="fa fa-pencil"></i></button>
            </div>
        </a>
    </li>
</ul>-->
<div class="content-grid push-50">
    <div class="row">
        <table class="table table-striped table-borderless table-vcenter">
        <tr *ngFor="let meaning of meanings">
            <td text-center *ngIf="meaning.deleteLink || meaning.updateLink" style="width:75px">       
                <div class="btn-group">
                    <button *ngIf="meaning.deleteLink"class="btn btn-xs btn-default" type="button" (click)="deleteMeaning(meaning)" data-toggle="tooltip" title="{{'ACTIONS.DELETE'|translate}}"><i class="fa fa-times"></i></button>
                    <button *ngIf="meaning.updateLink" class="btn btn-xs btn-default" type="button" (click)="editMeaning(meaning)"  data-toggle="tooltip" title="{{'ACTIONS.EDIT'|translate}}"><i class="fa fa-pencil"></i></button>
                </div>
            </td>
            <td class="h5 urdu pull-right">{{meaning.context}}</td>
            <td class="h5 urdu pull-right">{{meaning.value}}</td>
        </tr>
        </table>
    </div>
</div>