<!-- Page Header -->
<div class="content bg-gray-lighter" *ngIf="!isLoading">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                {{dictionary.name}} <small>{{dictionary.language}} dictionary with {{dictionary.wordCount}} words</small>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Dictionaries</li>
                <li><a class="link-effect" href="">{{dictionary.name}}</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Search Form -->
<div class="bg-white" *ngIf="!isLoading">
    <section class="content content-full content-boxed">
        <!-- Section Content -->
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <form [formGroup]="searchForm" (ngSubmit)="doSearch($event)">
                    <div class="input-group input-group-lg">
                        <input class="form-control" type="text" placeholder="Search in this dictionary.." formControlName="query">
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="fa fa-search"></i></button>
                            <a class="btn btn-default" *ngIf="isInSearch" (click)="clearSearch()"><i class="fa fa-close" ></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END Section Content -->
    </section>
</div>
<!-- END Search Form -->
<div class="bg-white">
    <section class="content content-boxed overflow-hidden">
        <!-- Section Content -->
        <div class="content-grid">
            <div class="row">
                <div class="col-xs-6 col-sm-3 visibility-hidden" appear data-class="animated fadeInDown" *ngFor="let index of indexes" >
                    <a class="block block-bordered block-rounded block-link-hover3" (click)="gotoIndex('{{index}}')">
                        <div class="block-content block-content-full border-b text-center">
                            <div class="item">
                                <i class="si si-book-open text-amethyst"></i>
                            </div>
                        </div>
                        <div class="block-content block-content-full block-content-mini">
                            <span class="font-w600 text-uppercase">{{index}}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="block" [class.block-opt-refresh]="isLoading">
            <div class="block-header">
            </div>
            <div class="block-content">
                <div *ngIf="isLoading" style="min-height: 300px"></div>
                <div class="table-responsive">
                    <nav *ngIf="!isLoading">
                        <ul class="pager">
                            <li class="previous">
                                <a (click)="loadPage(wordPage.prevLink)" *ngIf="wordPage.prevLink" data-toggle="tooltip" title="Previous"><i class="fa fa-chevron-left"></i></a>
                            </li>
                            <li class="next">
                                <a (click)="loadPage(wordPage.nextLink)" *ngIf="wordPage.nextLink" data-toggle="tooltip" title="Next"><i class="fa fa-chevron-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                    <table class="table table-hover table-striped" *ngIf="!isLoading">
                        <tbody>
                            <tr *ngFor="let word of wordPage.words" [routerLink]="['/word', word.id]">
                                <td class="font-w600 urdu">
                                    <a [routerLink]="['/word', word.id]">{{word.title}}</a>
                                </td>
                                <td class="font-w600 urdu">
                                    {{word.description}}
                                </td>
                                <!--<td class="text-center">
                            <div class="btn-group">
                                <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Edit Client"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Remove Client"><i class="fa fa-times"></i></button>
                            </div>
                        </td>-->
                            </tr>
                            <tr *ngIf="!isLoading && wordPage.words.length < 1">
                                <td>
                                    No word found
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pager" *ngIf="!isLoading">
                            <li class="previous">
                                <a href="javascript:void(0)" data-toggle="tooltip" title="Previous"><i class="fa fa-chevron-left"></i></a>
                            </li>
                            <li class="next">
                                <a href="javascript:void(0)" data-toggle="tooltip" title="Next"><i class="fa fa-chevron-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>