@import '../../styles/mixins';

.dictionaryPage{
  direction: rtl;

  .ant-list-item
  {
    text-align: right;
  }
}


.collapse {
  display: none
}

.collapse.in {
  display: block
}


.wordDetails
{
  display: block;
}


.empty-message
{
  padding: 10px;
  color: $text-lighten;
  text-align: center;
}
