<!-- User Header -->
<div class="block" *ngIf="!isLoading">
    <!-- Basic Info -->
    <div class="bg-image" style="background-image: url('../../../assets/img/photos/photo3@2x.jpg');">
        <div class="block-content bg-primary-op text-center overflow-hidden">
            <div class="push-30-t push animated fadeInDown">
                <img class="img-avatar img-avatar96 img-avatar-thumb" src="../../../assets/img/avatars/avatar10.jpg" alt="">
            </div>
            <div class="push-30 animated fadeInUp">
                <h2 class="h4 font-w600 text-white push-5">{{word.title}}</h2>
                <h3 class="h5 text-white-op">{{word.description}}</h3>
            </div>
        </div>
    </div>
    <!-- END Basic Info -->

    <!-- Stats -->
    <div class="block-content text-center">
        <div class="row items-push text-uppercase">
            <div class="col-xs-6 col-sm-6" *ngIf="word.pronunciation">
                <div class="font-w700 text-gray-darker animated fadeIn">Pronunciation</div>
                <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">{{word.pronunciation}}</a>
            </div>
            <div class="col-xs-6 col-sm-6" *ngIf="word.titleWithMovements">
                <div class="font-w700 text-gray-darker animated fadeIn">Title With Movements</div>
                <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">{{word.titleWithMovements}}</a>
            </div>
        </div>
    </div>
    <!-- END Stats -->
</div>
<!-- END User Header -->

<word-detail *ngIf="word" [wordDetailLink]="word.detailsLink"> </word-detail>
<word-relations *ngIf="word" [relationsLink]="word.relationsLink"> </word-relations>