<div class="content">
    <div class="block block-bordered" *ngIf="!isLoading">
        <div class="block-header" *ngIf="word.updateLink || word.deleteLink">
            <ul class="block-options">
                <li *ngIf="word.deleteLink">
                    <button type="button" title="{{'ACTIONS.DELETE'|translate}}">
                        <i class="si si-trash"></i>
                    </button>
                </li>
                <li *ngIf="word.updateLink">
                    <button type="button" title="{{'ACTIONS.EDIT'|translate}}">
                        <i class="si si-note"></i>
                    </button>
                </li>
            </ul>
        </div>
        <div class="block-content block-content-full text-center">
            <div class="row items-push text-center">
                <h2 class="h4 font-s64 push-5 urdu">{{word.title}}</h2>
            </div>
        </div>
        <div class="block-content block-content-mini block-content-full bg-gray-lighter">
            <div class="text-center text-muted">
                <h3 class="h4 font-w300 urdu">{{word.description}}</h3>
            </div>
        </div>
        <div class="block-content border-t">
            <div class="row items-push text-center">
                <div class="col-xs-6 border-r" *ngIf="word.pronunciation">
                    <a class="h4 font-w300 push-5 urdu" href="javascript:void(0)" data-tooltip="Pronunciation">{{word.pronunciation}}</a>
                </div>
                <div class="col-xs-6" *ngIf="word.titleWithMovements">
                    <a class="h4 font-w300 push-5 urdu" href="javascript:void(0)">{{word.titleWithMovements}}</a>
                </div>
            </div>
        </div>
    </div>

    <word-detail *ngIf="word" [wordDetailLink]="word.detailsLink"> </word-detail>
    <word-relations *ngIf="word" [relationsLink]="word.relationsLink"> </word-relations>
</div>
