<div class="content">
    <div class="block block-bordered" [class.block-opt-refresh]="isBusy" *ngIf="isBusy"></div>
    <div class="block block-bordered" *ngIf="!isBusy">
        <div class="block-header" *ngIf="word.updateLink || word.deleteLink">
            <ul class="block-options">
                <li *ngIf="word.deleteLink">
                    <button type="button" title="{{'WORD.ACTIONS.DELETE'|translate}}" [swal]="{title :translate.instant('WORD.ACTIONS.DELETE'), 
                              text : translate.instant('WORD.ACTIONS.DELETE_MESSAGE', { word : word.title }),  
                              type : 'warning',
                              confirmButtonText : translate.instant('ACTIONS.YES'),
                              cancelButtonText : translate.instant('ACTIONS.NO'),
                              confirmButtonColor: '#d26a5c',
                              html: false,
                              allowOutsideClick : false,
                              showCancelButton: true}" (confirm)="deleteWord()">
                        <i class="si si-trash text-danger"></i>
                    </button>
                </li>
                <li *ngIf="word.updateLink">
                    <button type="button" (click)="editWord()" title="{{'WORD.ACTIONS.EDIT'|translate}}">
                        <i class="si si-note"></i>
                    </button>
                </li>
            </ul>
        </div>
        <div class="block-content block-content-full text-center ribbon ribbon-modern ribbon-success">
            <div class="ribbon-box font-w600 text-uppercase">
                <a class="text-white" [routerLink]="['/dictionaryLink', word.dictionaryLink]">{{'DICTIONARY.BACKTODICTIONARY'|translate}}</a>
            </div>
            <div class="row items-push text-center">
                <h2 class="h4 font-s64 push-5">{{word.title}}</h2>
            </div>
        </div>
        <div class="block-content block-content-mini block-content-full bg-gray-lighter">
            <div class="text-center text-muted">
                <h3 class="h4 font-w300">{{word.description}}</h3>
            </div>
        </div>
        <div class="block-content border-t">
            <div class="row items-push text-center">
                <div class="col-xs-6 border-r" *ngIf="word.pronunciation">
                    <span class="h3 font-w300 push-5" href="javascript:void(0)">{{word.pronunciation}}</span>
                </div>
                <div class="col-xs-6" *ngIf="word.titleWithMovements">
                    <span class="h3 font-w300 push-5" href="javascript:void(0)">{{word.titleWithMovements}}</span>
                </div>
                <div class="col-xs-6" *ngIf="word.attributes">
                    <span class="h4 font-w300 push-5" href="javascript:void(0)">{{word.attributes}}</span>
                </div>
                <div class="col-xs-6" *ngIf="word.language">
                    <span class="h4 font-w300 push-5" href="javascript:void(0)">{{word.language}}</span>
                </div>
            </div>
        </div>
    </div>
    <word-meanings *ngIf="word" [wordId]="word.id" [meaningsLink]="word.meaningsLink" [createLink]="word.createMeaningLink">
    </word-meanings>
    <div class="row">
        <div class="col-lg-6">
            <word-translations *ngIf="word" [wordId]="word.id" [translationsLink]="word.translationsLink" [createLink]="word.createTranslationLink"></word-translations>
        </div>
        <div class="col-lg-6">
            <word-relations *ngIf="word" [relationsLink]="word.relationsLink" [dictionaryLink]="word.dictionaryLink" [createRelationLink]="word.addRelationLink"
                [dictionaryId]="dictionaryId" [sourceWord]="word"></word-relations>
        </div>
    </div>
</div>