@font-face {
  font-family: 'Fajer Noori Nastalique';
  src: url("../fonts/Fajer-Noori-Nastalique.eot");
  src: url("../fonts/Fajer-Noori-Nastalique.eot") format("embedded-opentype"), 
       url("../fonts/Fajer-Noori-Nastalique.woff") format("woff"), 
       url("../fonts/Fajer-Noori-Nastalique.ttf") format("truetype"), 
       url("../fonts/Fajer-Noori-Nastalique.svg") format("svg");
  unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
  font-size: 140%;
}
@font-face {
  font-family: 'Pak Nastaleeq';
  src: url("../fonts/Pak-Nastaleeq.eot");
  src: url("../fonts/Pak-Nastaleeq.eot") format("embedded-opentype"), 
       url("../fonts/Pak-Nastaleeq.woff") format("woff"), 
       url("../fonts/Pak-Nastaleeq.ttf") format("truetype"), 
       url("../fonts/Pak-Nastaleeq.svg") format("svg");
  unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-family: 'Nafees Web Naskh';
  src: url("../fonts/Nafees-Web-Naskh.eot");
  src: url("../fonts/Nafees-Web-Naskh.eot") format("embedded-opentype"), 
       url("../fonts/Nafees-Web-Naskh.woff") format("woff"), 
       url("../fonts/Nafees-Web-Naskh.ttf") format("truetype"), 
       url("../fonts/Nafees-Web-Naskh.svg") format("svg");
  unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF; 
}

@font-face {
  font-family: 'Nafees-Nastaleeq';
  src: url("../fonts/Nafees-Nastaleeq.eot");
  src: url("../fonts/Nafees-Nastaleeq.eot") format("embedded-opentype"), 
       url("../fonts/Nafees-Nastaleeq.woff") format("woff"), 
       url("../fonts/Nafees-Nastaleeq.ttf") format("truetype"), 
       url("../fonts/Nafees-Nastaleeq.svg") format("svg");
       unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
  font-size: 120%;
}

@font-face{
  font-family: 'Mehr-Nastaleeq';
  src: url("../fonts/Mehr-Nastaliq-Web.eot");
  src: url("../fonts/Mehr-Nastaliq-Web.eot") format("embedded-opentype"),
       url('../fonts/Mehr-Nastaliq-Web.woff') format("woff"),
       url("../fonts/Mehr-Nastaliq-Web.ttf") format("truetype"),
       url("../fonts/Mehr-Nastaliq-Web.svg") format("svg");
       unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;       
  font-weight: normal;
  font-style: normal;
  font-size: 120%;  
}

@font-face{
  font-family: 'DehalviKhushKhat';
  src: url("../fonts/DehalviKhushKhat.eot");
  src: url("../fonts/DehalviKhushKhat.eot") format("embedded-opentype"),
       url('../fonts/DehalviKhushKhat.woff') format("woff"),
       url("../fonts/DehalviKhushKhat.ttf") format("truetype"),
       url("../fonts/DehalviKhushKhat.svg") format("svg");
       unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;       
  font-weight: normal;
  font-style: normal;
  font-size: 120%;  
}

@font-face{
  font-family: 'AdobeArabic';
  src: url("../fonts/AdobeArabic-Regular.eot");
  src: url("../fonts/AdobeArabic-Regular.eot") format("embedded-opentype"),
       url('../fonts/AdobeArabic-Regular.woff') format("woff"),
       url("../fonts/AdobeArabic-Regular.ttf") format("truetype"),
       url("../fonts/AdobeArabic-Regular.svg") format("svg");
       unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;       
  font-weight: normal;
  font-style: normal;
  font-size: 150%;  
}


@font-face{
  font-family: 'UrduNaskhAsiatype';
  src: url("../fonts/UrduNaskhAsiatype.eot");
  src: url("../fonts/UrduNaskhAsiatype.eot") format("embedded-opentype"),
       url('../fonts/UrduNaskhAsiatype.woff') format("woff"),
       url("../fonts/UrduNaskhAsiatype.ttf") format("truetype"),
       url("../fonts/UrduNaskhAsiatype.svg") format("svg");
       unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;       
  font-weight: normal;
  font-style: normal;
  font-size: 140%;  
}

body.urdu, 
body.urdu h1, 
body.urdu h2, 
body.urdu h3,
body.urdu h4,
body.urdu h5,
body.urdu h6,
body.urdu .h1, 
body.urdu .h2, 
body.urdu .h3,
body.urdu .h4,
body.urdu .h5,
body.urdu .h6{
  font-family:  "UrduNaskhAsiatype", "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; 
}

.sidebar-o[dir='rtl'] .nav-main a > i {
  margin-right: 0px;
  margin-left: 15px;
}

.sidebar-o[dir='rtl'] .pull-left {
  float: right !important;
}

.sidebar-o[dir='rtl'] .pull-right {
  float: left !important;
}

.sidebar-o[dir='rtl'] .dropdown-menu-right{
  right: auto;
  left: 0;
}

.sidebar-o[dir='rtl'] .dropdown-menu a,
.sidebar-o[dir='rtl'] .dropdown-menu .dropdown-header{
  text-align: right;
}

.word-title{
  background-image: url('../img/photos/photo5@2x.jpg')
}

.rtl{
  direction: rtl;
}

#page-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;  
}

.hand{
  cursor: pointer;
}
.no-padding{
  padding: 0;
}

.fa-sub {
  position: relative;
  left: -.8em;
  width: .2em;
  vertical-align: -.25em;
  text-shadow: 0 0 1px #4D4B4B;
  font-size: large;
}

.form-horizontal .ng2-auto-complete {
  width: 100%;
  position: absolute;
  left: 10px !important;
  top: 10px !important;
}

.form-horizontal .ng2-auto-complete ul li {
  width: 100%;
  height: 26px;
  line-height: 26px;
  text-align: left;
  font-size: 13px;
  font-weight: 600;
  border: none;
}   

#page-container[dir="rtl"] .sectionTitle {
  text-align: right;
  font-size: 20px;
  font-family:  "UrduNaskhAsiatype", "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; 
}