<div class="block block-bordered" [class.block-opt-refresh]="isLoading">
    <div class="block-header bg-gray-lighter">
        <ul class="block-options">
            <li *ngIf="createLink">
                <button type="button" (click)="addTranslation()">
                    <i class="si si-plus"></i> {{'WORDTRANSLATION.ACTIONS.ADD'|translate}}
                </button>

            </li>
        </ul>
        <h3 class="block-title">{{'WORDTRANSLATION.TITLE'|translate}}</h3>
    </div>
    <div class="block-content">
        <table class="table" dir="ltr">
            <tbody *ngIf="translations != null && translations.length > 0">
                <tr *ngFor="let translation of translations">
                    <td class="text-center" style="width: 75px;" *ngIf="translation.updateLink || translation.deleteLink">
                        <div class="btn-group">
                            <button *ngIf="translation.updateLink" class="btn btn-xs btn-default" type="button" (click)="editTranslation(translation)"
                                data-toggle="tooltip" title="{{'ACTIONS.EDIT'|translate}}">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button *ngIf="translation.deleteLink" class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="{{'ACTIONS.DELETE'|translate}}"
                                [swal]="{title :translate.instant('WORDTRANSLATION.ACTIONS.DELETE'), 
                      text : translate.instant('WORDTRANSLATION.ACTIONS.DELETE_MESSAGE'),  
                      type : 'warning',
                      confirmButtonText : translate.instant('ACTIONS.YES'),
                      cancelButtonText : translate.instant('ACTIONS.NO'),
                      confirmButtonColor: '#d26a5c',
                      html: false,
                      allowOutsideClick : false,
                      showCancelButton: true}" (confirm)="deleteTranslation(translation)">
                                <i class="fa fa-times text-danger"></i>
                            </button>
                        </div>
                    </td>
                    <td>
                        <blockquote class="blockquote-reverse">
                            <p>{{translation.value}}</p>
                            <footer>{{translation.language}}</footer>
                        </blockquote>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="!isLoading && (translations == null || translations.length < 1)">
                <div class="content text-center overflow-hidden text-center">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="push-50">
                            <i class="si si-globe icon-watermark"></i>
                        </h2>
                        <h2 class="h5 font-w300 text-muted">{{'WORDTRANSLATION.MESSAGES.EMPTY'|translate}}</h2>
                    </div>
                </div>
            </tbody>
        </table>
    </div>
</div>