 <h2 class="content-heading">Relations</h2>
<div class="content-grid push-50">
    <!-- Simple Tiles -->
    <div class="row">
        <div class="col-lg-4" *ngFor="let translation of translations">
            <!--<a class="block block-link-hover3" [routerLink]="['/word', relation.relatedWordId]">
                <div class="block-content block-content-full clearfix">
                    <span class="h4 font-w700">{{relation.relatedWord}}</span>
                    <span class="h4 text-muted">{{relation.relationType}}</span>
                    <i *ngIf="relation.relationTypeId==0" class="si si-layers fa-2x text-muted pull-right"></i>                    
                    <i *ngIf="relation.relationTypeId==1" class="si si-directions fa-2x text-muted pull-right"></i>
                    <i *ngIf="relation.relationTypeId==2" class="si si-chemistry fa-2x text-muted pull-right"></i>
                    <i *ngIf="relation.relationTypeId==3" class="si si-vector fa-2x text-muted pull-right"></i>
                    <i *ngIf="relation.relationTypeId>=4" class="si si-link fa-2x text-muted pull-right"></i>
                </div>
            </a>-->
        </div>
    </div>
</div>