.book-list
{
  direction: rtl;

  .ant-card-meta{
    padding-bottom: 8px;
  }
  .ant-list-item-main{
    text-align: right;
  }
}

.book-actions{
  margin-top: 12px;
  display: block;
}

.uploadButton{
  position: relative;
  top: 1px;
}
