<!-- Main Container -->
<main id="main-container">
    <!-- Hero Content -->
    <div class="bg-image" style="background-image: url('assets/img/photos/photo24@2x.jpg');">
        <!-- Search Content -->
        <section class="content content-full content-boxed overflow-hidden">
            <!-- Bootstrap Datepicker (.input-daterange class is initialized in App() -> uiHelperDatepicker()) -->
            <!-- For more info and examples you can check out https://github.com/eternicode/bootstrap-datepicker -->
            <div class="push-100-t push-100">
                <h1 class="font-s48 font-w700 text-uppercase text-white push-10 visibility-hidden text-center" data-toggle="appear" data-class="animated fadeInDown">انشاپرداز</h1>
                <h2 class="h3 font-w400 text-white-op push-50 visibility-hidden text-center" data-toggle="appear" data-timeout="750">Help build better language for new era</h2>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                        <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                                <div class="input-group input-group-lg">
                                    <input class="form-control" type="text" (keyup.enter)="onSearch()" [(ngModel)]="searchText" placeholder="Search everything..">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" (click)="onSearch()"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>                   
                    </div>
                </div>
            </div>
        </section>
        <!-- END Search Content -->

        <!-- Features -->
        <div class="bg-black-op">
            <section class="content content-boxed">
                <div class="push-20-t push-50">
                    <div class="row items-push text-center">
                        <a href="/downloads/inshapardaz-x86.exe" class="col-xs-6 col-md-2 visibility-hidden" data-toggle="appear" data-offset="-100" data-class="animated flipInY" data-timeout="150">
                            <div class="item item-2x item-circle push-10">
                                <i class="fa fa-windows text-white"></i>
                            </div>
                            <div class="font-w600 text-white-op text-uppercase">Windows</div>
                            <div> x86 | x64</div>
                        </a>
                        <a href="/downloads/inshapardaz-mac.dmg" class="col-xs-6 col-md-2 visibility-hidden" data-toggle="appear" data-offset="-100" data-class="animated flipInY" data-timeout="300">
                            <div class="item item-2x item-circle push-10">
                                <i class="fa fa-apple text-white"></i>
                            </div>
                            <div class="font-w600 text-white-op text-uppercase">Mac</div>
                        </a>
                        <a href="/downloads/inshapardaz-x86.deb" class="col-xs-6 col-md-2 visibility-hidden" data-toggle="appear" data-offset="-100" data-class="animated flipInY" data-timeout="450">
                            <div class="item item-2x item-circle push-10">
                                <i class="fa fa-linux text-white"></i>
                            </div>
                            <div class="font-w600 text-white-op text-uppercase">Linux</div>
                            <div> x86 | x64</div>                            
                        </a>
                        <a href="/" class="col-xs-6 col-md-2 visibility-hidden" data-toggle="appear" data-offset="-100" data-class="animated flipInY" data-timeout="600">
                            <div class="item item-2x item-circle push-10">
                                <i class="fa fa-mobile-phone text-white"></i>
                            </div>
                            <div class="font-w600 text-white-op text-uppercase">iPhone</div>
                        </a>
                        <a href="/" class="col-xs-6 col-md-2 visibility-hidden" data-toggle="appear" data-offset="-100" data-class="animated flipInY" data-timeout="750">
                            <div class="item item-2x item-circle push-10">
                                <i class="fa fa-android text-white"></i>
                            </div>
                            <div class="font-w600 text-white-op text-uppercase">Android</div>
                        </a>
                        <a href="/" class="col-xs-6 col-md-2 visibility-hidden" data-toggle="appear" data-offset="-100" data-class="animated flipInY" data-timeout="900">
                            <div class="item item-2x item-circle push-10">
                                <i class="fa fa-windows text-white"></i>
                            </div>
                            <div class="font-w600 text-white-op text-uppercase">Windows Mobile</div>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="bg-white">
        
    </div>

    <div class="bg-gray-lighter">
        <section class="content content-full content-boxed">
            <div class="push-20-t push-20 text-center">
                <h3 class="h4 push-20 visibility-hidden" data-toggle="appear">Want to help us improve this resouce?</h3>
                <a class="btn btn-rounded btn-noborder btn-lg btn-success visibility-hidden" data-toggle="appear" data-class="animated bounceIn"
                    href="frontend_contact.html"><i class="fa fa-envelope-o push-5-r"></i> Get in touch</a>
            </div>
        </section>
    </div>

    <section class="content content-boxed">
        <div class="row items-push-3x push-50-t nice-copy">
            <div class="col-sm-4">
                <div class="text-center push-30">
                    <span class="item item-2x item-circle border">
                         <i class="si si-rocket"></i>
                    </span>
                </div>
                <h3 class="h5 font-w600 text-uppercase text-center push-10">Community Driven</h3>
                <p>Inshapardaz is a sleek, intuitive, and open framework for faster and easier language development.</p>
            </div>
            <div class="col-sm-4">
                <div class="text-center push">
                    <span class="item item-2x item-circle border">
                        <i class="si si-screen-smartphone"></i>
                    </span>
                </div>
                <h3 class="h5 font-w600 text-uppercase text-center push-10">Mobile Friendly</h3>
                <p>The application will adjust to any screen size. It will look great on mobile devices and desktops at the same
                    time.</p>
            </div>
            <div class="col-sm-4">
                <div class="text-center push">
                    <span class="item item-2x item-circle border">
                        <i class="si si-clock"></i>
                    </span>
                </div>
                <h3 class="h5 font-w600 text-uppercase text-center push-10">Ever Evolving</h3>
                <p>Inshapardaz is not a static resource but a living organism with a lot people helping it grow.</p>
            </div>
        </div>
    </section>
    
</main>