<div id="page-container" class="sidebar-o side-scroll header-navbar-fixed" dir="auto" [class.sidebar-r]="isRtl" [class.sidebar-l]="!isRtl"
  [attr.dir]="isRtl ? 'rtl' : 'ltr'">
  <app-sidebar id="sidebar"></app-sidebar>
  <app-header id="header-navbar" class="content-mini content-mini-full">
  </app-header>

  <main id="main-container">
    <router-outlet></router-outlet>
  </main>

  <app-footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
  </app-footer>
</div>