<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-8">
            <h1 class="page-heading">
                {{dictionary.name}} <small>Language {{dictionary.language}}</small>
            </h1>
        </div>
        <div class="col-sm-4 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Forms</li>
                <li><a class="link-effect" href="">Form Elements</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->