<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Dictionary <small>Words starting with {{startWith}} </small>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li> <a class="link-effect" [routerLink]="['/dictionary/overview']">Dictionary</a></li>
                <li>Words List</li>
            </ol>
        </div>
    </div>
</div>
<div class="content content-boxed">
    <div class="block" [class.block-opt-refresh]="isLoading">
        <div class="block-content">
            <nav>
                <ul class="pagination pagination-lg">
                    <li *ngIf="pageNumber > 1">
                        <a [routerLink]="['/dictionary/words/', startWith, 1]"><i class="fa fa-angle-double-left"></i></a>
                    </li>
                    <li *ngIf="pageNumber > 1">
                        <a [routerLink]="['/dictionary/words/', startWith, pageNumber - 1]"><i class="fa fa-angle-left"></i></a>
                    </li>
                    <li *ngFor="let page of pages" [class.active]="page.number === pageNumber">
                        <a [routerLink]="['/dictionary/words/', startWith, page.number]">{{page.number}}</a>
                    </li>
                    <li *ngIf="pageNumber > 0 && pageNumber <= pageCount">
                        <a [routerLink]="['/dictionary/words/', startWith, pageNumber + 1]"><i class="fa fa-angle-right"></i></a>
                    </li>
                    <li *ngIf="pageNumber > 0 && pageNumber <= pageCount">
                        <a [routerLink]="['/dictionary/words/', startWith, pageCount]"><i class="fa fa-angle-double-right"></i></a>
                    </li>
                </ul>
            </nav>


            <div class="block">
                <div class="block-content">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4" *ngFor="let word of words">
                            <a class="block block-rounded block-bordered block-link-hover3" [routerLink]="['/dictionary/word/', word.id]">
                                <div class="block-content block-content-full clearfix">
                                    <div class="pull-right rtl">
                                        <div class="font-s26 push-5">{{word.title}}</div>
                                        <!--<div class="text-muted">{{word.description}}</div>-->
                                    </div>
                                    <div class="pull-left push-10-t">
                                        <i class="fa fa-pencil"></i>
                                        <i class="fa fa-remove"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <ul class="pagination pagination-lg">
                    <li *ngIf="pageNumber > 1">
                        <a [routerLink]="['/dictionary/words/', startWith, 1]"><i class="fa fa-angle-double-left"></i></a>
                    </li>
                    <li *ngIf="pageNumber > 1">
                        <a [routerLink]="['/dictionary/words/', startWith, pageNumber - 1]"><i class="fa fa-angle-left"></i></a>
                    </li>
                    <li *ngFor="let page of pages" [class.active]="page.number === pageNumber">
                        <a [routerLink]="['/dictionary/words/', startWith, page.number]">{{page.number}}</a>
                    </li>
                    <li *ngIf="pageNumber > 0 && pageNumber <= pageCount">
                        <a [routerLink]="['/dictionary/words/', startWith, pageNumber + 1]"><i class="fa fa-angle-right"></i></a>
                    </li>
                    <li *ngIf="pageNumber > 0 && pageNumber <= pageCount">
                        <a [routerLink]="['/dictionary/words/', startWith, pageCount]"><i class="fa fa-angle-double-right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END Table Sections -->
</div>
<!-- END Page Content -->