<form class="js-validation-bootstrap form-horizontal push-10-t" #realtionForm="ngForm" (ngSubmit)="confirm()">
  <div class="modal-body no-padding">
    <div class="block block-themed block-transparent remove-margin-b" [class.block-opt-refresh]="isBusy">
      <div class="block-header bg-primary-dark">
        <ul class="block-options">
          <li>
            <button (click)="onClose()" type="button">
              <i class="si si-close"></i>
            </button>
          </li>
        </ul>
        <h3 class="block-title">{{ 'RELATION.CREATENEW' | translate }}</h3>
      </div>
      <div class="block-content" *ngIf="model != null">
        <div class="form-group">
          <div class="col-sm-12">
            <div class="form-material">
              <input class="form-control" type="text" id="relatedWord" name="relatedWord" #relatedWord="ngModel" required [(ngModel)]="model.relatedWord"
                auto-complete [source]="observableSource" autocomplete="off" [list-formatter]="autocompleteListFormatter" value-property-name="id"
                display-property-name="title" (valueChanged)="relatedWordChanged($event)" [attr.placeholder]="translate.instant('RELATION.PLACEHOLDER.RELATEDWORD')">

              <label for="material-text">{{ 'RELATION.RELATEDWORD' | translate}} </label>
              <div [hidden]="relatedWord.valid || relatedWord.pristine" class="alert alert-danger">
                {{ 'RELATION.VALIDATION.RELATEDWORD' | translate}}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <div class="form-material">
              <select class="form-control" id="relationTypes" name="relationTypes" size="1" required [(ngModel)]="model.relationTypeId"
                #relationTypes="ngModel">
                <option *ngFor="let key of relationTypesValues" [value]="key">{{relationTypesEnum[key]}}</option>
              </select>
              <label for="material-select">{{ 'RELATION.TYPE' | translate}}</label>
              <div [hidden]="relationTypes.valid || relationTypes.pristine" class="alert alert-danger">
                {{ 'RELATION.VALIDATION.TYPE' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-primary" type="submit" [disabled]="!realtionForm.form.valid || isBusy">
        <i class="fa fa-check"></i>
        {{ isCreating == true ? translate.instant('ACTIONS.CREATE') : translate.instant('ACTIONS.UPDATE') }}
      </button>
      <button class="btn btn-sm btn-default" type="button" (click)="onClose()">{{ 'ACTIONS.CLOSE' | translate}}</button>
    </div>
  </div>
</form>