<form class="js-validation-bootstrap form-horizontal push-10-t" #dictionaryForm="ngForm" (ngSubmit)="confirm()">
  <div class="modal-body no-padding">
    <div class="block block-themed block-transparent remove-margin-b" [class.block-opt-refresh]="isBusy">
      <div class="block-header bg-primary-dark">
        <ul class="block-options">
          <li>
            <button (click)="onClose()" type="button">
              <i class="si si-close"></i>
            </button>
          </li>
        </ul>
        <h3 class="block-title" *ngIf="isCreating() == true">{{ 'WORD.CREATENEW' | translate }}</h3>
        <h3 class="block-title" *ngIf="isCreating() !== true">{{ 'WORD.EDIT' | translate }}</h3>
      </div>
      <div class="block-content" *ngIf="model != null">
        <div class="form-group">
          <div class="col-sm-6">
            <div class="form-material">
              <input class="form-control" type="text" id="title" name="title" #title="ngModel" required [(ngModel)]="model.title">
              <label for="title">{{ 'WORD.TITLE' | translate}} </label>
              <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
                {{ 'WORD.VALIDATION.TITLE' | translate}}
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-material">
              <input class="form-control" type="text" id="titleWithMovements" name="titleWithMovements" #titleWithMovements="ngModel" [(ngModel)]="model.titleWithMovements">
              <label for="titleWithMovements">{{ 'WORD.TITLEWITHMOVEMENTS' | translate}} </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <div class="form-material">
              <input class="form-control" type="text" id="pronunciation" name="pronunciation" #pronunciation="ngModel" [(ngModel)]="model.pronunciation">
              <label for="pronunciation">{{ 'WORD.PRONUNCIATION' | translate}} </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6">
            <div class="form-material">
              <select class="form-control" id="language" name="language" size="1" required [(ngModel)]="model.languageId" #language="ngModel">
                <option *ngFor="let key of languages" [value]="key">{{languagesEnum[key]}}</option>
              </select>
              <label for="language">{{ 'DICTIONARIES.LANGUAGE' | translate}}</label>
              <div [hidden]="language.valid || language.pristine" class="alert alert-danger">
                {{ 'DICTIONARIES.VALIDATION.LANGUAGE' | translate}}
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-material">
              <select class="form-control" id="attributes" name="attributes" size="1" required [(ngModel)]="model.attributeValue" #attributes="ngModel">
                <option *ngFor="let key of attributesValues" [value]="key">{{attributeEnum[key]}}</option>
              </select>
              <label for="attributes">{{ 'WORD.ATTRIBUTES' | translate}}</label>
              <div [hidden]="attributes.valid || attributes.pristine" class="alert alert-danger">
                {{ 'WORD.VALIDATION.ATTRIBUTES' | translate}}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <div class="form-material">
              <textarea class="form-control" type="text" id="description" name="description" #description="ngModel" [(ngModel)]="model.description" rows="6"></textarea>
              <label for="description">{{ 'WORD.DESCRIPTION' | translate}} </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-primary" type="submit" [disabled]="!dictionaryForm.form.valid || isBusy">
        <i class="fa fa-check"></i>
        {{ isCreating == true ? translate.instant('ACTIONS.CREATE') : translate.instant('ACTIONS.UPDATE') }}
      </button>
      <button class="btn btn-sm btn-default" type="button" (click)="onClose()">{{ 'ACTIONS.CLOSE' | translate}}</button>
    </div>
  </div>
</form>