$header-background : #001529;
$header-text: hsla(0,0%,100%,.65);

$header-item-hover-color: #f6a623;
$header-item-hover-background: #142638;

%header-item {
  display: block;
  text-decoration: none;
  min-width: 75px;
  padding: 14px 16px;
  text-align: center;
}

%header-item-hover {
  color: $header-item-hover-color;
  background-color: $header-item-hover-background;
}
.header
{
  background-color: $header-background;
  color : $header-text;
  width: 100%;
  height : 48px;

  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items:stretch;

  &__logo
  {
    cursor: pointer;
    @extend %header-item;

    &:hover{
      @extend %header-item-hover
    }
  }

  ul {
    direction: rtl;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height:100%;

    li
    {
      display: inline-block;

      a
      {
        @extend %header-item;

        &:hover
        {
          @extend %header-item-hover;
        }

        &:visited{
          color: $header-text;
        }
      }
    }
  }

  &__nav
  {
    display: block;
    width: 60px;
    padding: 0 10px;
    text-align: right;
    flex:2;
  }
  &__authView
  {
    text-align: left;
  }
}
