<div class="bg-image overflow-hidden" style="background-image: url('images/photos/photo25@2x.jpg');">
    <div class="bg-black-op">
        <div class="content content-narrow">
            <div class="block block-transparent">
                <div class="block-content block-content-full">
                    <h1 class="h1 font-w300 text-white animated fadeInDown push-50-t push-5 urdu">{{ 'APP.TITLE' | translate }}</h1>
                    <h2 class="h4 font-w300 text-white-op animated fadeInUp urdu">{{ 'APP.SLOGAN' | translate }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-white">
    <section class="content content-boxed overflow-hidden">
        <!-- Section Content -->
        <div class="content-grid">
            <div class="row">
                <div class="col-xs-6 col-sm-3 visibility-hidden" appear data-class="animated fadeInDown">
                    <a class="block block-bordered block-rounded block-link-hover3" [routerLink]="['/dictionaries']">
                        <div class="block-content block-content-full border-b text-center">
                            <div class="item">
                                <i class="si si-book-open text-amethyst"></i>
                            </div>
                        </div>
                        <div class="block-content block-content-full block-content-mini">
                            <span class="font-w600 text-uppercase urdu">{{'DICTIONARIES.TITLE' | translate}}</span>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 visibility-hidden" appear data-timeout="200" data-class="animated fadeInDown">
                    <a class="block block-bordered block-rounded block-link-hover3" [routerLink]="['/thesaurus']">
                        <div class="block-content block-content-full border-b text-center">
                            <div class="item">
                                <i class="si si-shuffle text-city"></i>
                            </div>
                        </div>
                        <div class="block-content block-content-full block-content-mini">
                            <span class="font-w600 text-uppercase urdu">{{'THESAURUS.TITLE' | translate}}</span>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 visibility-hidden" appear data-timeout="400" data-class="animated fadeInDown">
                    <a class="block block-bordered block-rounded block-link-hover3" [routerLink]="['/translations']">
                        <div class="block-content block-content-full border-b text-center">
                            <div class="item">
                                <i class="si si-globe text-flat"></i>
                            </div>
                        </div>
                        <div class="block-content block-content-full block-content-mini">
                            <span class="font-w600 text-uppercase urdu">{{'TRANSLATIONS.TITLE' | translate}}</span>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 visibility-hidden" appear data-timeout="600" data-class="animated fadeInDown">
                    <a class="block block-bordered block-rounded block-link-hover3" href="javascript:void(0)">
                        <div class="block-content block-content-full border-b text-center">
                            <div class="item">
                                <i class="si si-note text-smooth"></i>
                            </div>
                        </div>
                        <div class="block-content block-content-full block-content-mini">
                            <span class="font-w600 text-uppercase urdu">{{'EDITOR.TITLE' | translate}}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- END Section Content -->
    </section>
</div>
<!-- END Categories -->